
<mat-card class="mat-elevation-z4">
    <mat-card-title>Lista de Clientes</mat-card-title>
    <a routerLink="/home/cadastrarCliente">
      <button type="button" class="btn btn-success">Novo Cliente</button>
    </a>

    <p>
    <h5>Total de registros: {{ total }}</h5> 
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let cliente of clientes"> 
            <th>{{cliente.id}}</th>
            <th>{{cliente.nome}}</th>
            <th>{{cliente.cpf}}</th>
            <th>{{cliente.email}}</th>
            <th>{{cliente.telefone}}</th>
            <th>
                <button type="button" (click)="editar(cliente.id)" class="btn btn-warning">Editar</button>
                <button type="button" (click)="remover(cliente.id)" class="btn btn-danger">Remover</button>           
            </th>
      </tr>
    </tbody>
  </table>
 
</mat-card>