<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink='produtos'>Produtos</a>
        </li>
        <li>
          <a class="nav-link" routerLink='clientes'>Clientes</a>
        </li>
        <li>
          <a class="nav-link" routerLink="pedidos">Pedidos</a>
        </li>
        <li>
          <a class="nav-link">Relatórios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='sair'>Sair</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">

  <router-outlet></router-outlet>

</div>